# Resend API key (https://resend.com/api-keys)
RESEND_API_KEY=re_xxxxxxxx

# Email that sends the contact form (from)
EMAIL_FROM=web@sustainsaft.org

# Email that receives the contact form submissions (to)
EMAIL_TO=contacto@sustainsaft.org
