---
import Icon from "@modules/atoms/icons/Icon.astro";

interface Props {
  text: string;
}

const { text } = Astro.props;
---

<li class="flex items-center gap-3">
  <Icon name="CheckCircle2" size={20} class="text-secondary" />
  <span class="font-inter text-base">{text}</span>
</li>